// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answers {
  font-family: 'courier new';
  text-align: center;
}

.btn {
  background-color: pink;
  font-size: large;
  border-radius: 20px;
  border: none;
  font-family: 'courier new';
}

.container {
  text-align: center;
  font-family: 'Courier New';
}
